.header {
    width: 100%;
    background: linear-gradient(90deg, #4f66ff, #738aff);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

